{% extends 'menu.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}Technicians{% endblock %}

{% block body %}
    <h1>Technicians</h1>

    {% for technician in technicians %}
    {{ technician.roles[0] }}
    {% endfor %}

{% endblock %}
