<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Tickets App{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        {% block stylesheets %}
            <link href="{{ asset('assets/css/nav.css') }}" rel="stylesheet" />

            <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" />

        {% endblock %}

    </head>
    <body>
        {% block menu %}{% endblock %}

        <main>
            <section class="content">
                <div class="icon-menu-header">
                    <i class="bi bi-list icon-menu"></i>
                </div>
                {% block body %}{% endblock %}
            </section>
        </main>

        {% block javascripts %}
            <script src="{{ asset('assets/js/main.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
